/* Custom fonts */
@font-face {
    font-family: pixel;
    src: url('../fonts/8-bit-pusab.ttf') format('truetype');
}
/* Global styles */
body {
    font-size: 10px;
    font-family: pixel, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

/* Game Container style */
#game-container {
    width: 50%;
    min-width: 350px;
    margin: 30px auto;
    background-color: #141414;
    padding: 20px;
    padding-bottom: 0;
    border: 5px solid rgb(191, 191, 191);
    border-left: 5px solid rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
header {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(0, 181, 252);
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 128, 255);
    border-left: 5px solid rgb(0, 0, 234);
}

#title {
    font-size: 2rem;
    margin: 10px 0 10px 0;
}

#instruction {
    font-size: 1rem;
    margin: 0;
}

/* Main styles */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Sections styles */
section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#game-section {
    width: 80%;
    max-width: 600px;
    min-width: fit-content;
    margin: 0 auto;
    border: 5px solid rgb(148, 148, 148);
    border-left: 5px solid rgb(112, 112, 112);
    /* background-color: black; */
    padding: 30px 20px;
}


/* Answer area styles */
#guess-container {
    position: relative;
    width: fit-content;
    /* background-color: gray; */
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

#guess {
    color: white;
    width: 200px;
    min-width: 200px;
    height: 1.4rem;
    font-family: pixel;
    background-color: transparent;
    border: none;
    outline: none;
    border: 3px solid rgb(207, 207, 207);
    border-left: 3px solid rgb(71, 71, 71);
    font-size: 0.9rem;
    box-sizing: content-box;
}

.label-container {
    position: absolute;
    top: 0;
    left: 5px;
    user-select: none;
    transition: top 0.2s ease-out, font-size 0.2s;
    opacity: 0.8;
    font-size: 0.9rem;
}

#guess, #guess-label {
    cursor: text;
}

#guess:focus + .label-container,
#guess:valid + .label-container {
    top: -20px;
    font-size: 0.7rem;
}

#hint-container {
    width: fit-content;
    /* background-color: black; */
    padding: 10px 0;
    margin: auto;
}

#hint {
    margin: 0;
    height: 19px;
    font-size: 0.7rem;
}

/* Button styles */
button {
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(205, 0, 233);
    border: 3px solid rgb(171, 0, 171);
    border-left: 3px solid rgb(90, 0, 90);
    transition: background-color 0.2s;
    cursor:pointer;
    font-family: pixel;
}

button:hover {
    background-color: rgb(231, 51, 255);
}

#button-container {
    /* background-color: black; */
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* HP bar styles */
#hp-bar-container {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 600px;
    display: flex;
    border: 5px solid rgb(112, 112, 112);
    border-left: 5px solid rgb(55, 55, 55);
    margin: 15px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

#hp-bar {
    width: 100%;
    height: 30px;
    background-color: greenyellow;
    transition: width 0.3s;
}

#hp-label {
    position: absolute;
    color: black;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.268);
    box-sizing: border-box;
}
