/* Root styles */
:root {
    --selection-menu: 100;
    --game-container:-100;
    --default-border: rgb(191, 191, 191);
    --left-border: rgb(80, 80, 80);
}

.start-game {
    --selection-menu: -100;
    --game-container: 100;
}

/* Custom fonts */
@font-face {
    font-family: pixel;
    src: url('../fonts/8-bit-pusab.ttf') format('truetype');
}

/* Global styles */
body {
    height: fit-content;
    font-size: 10px;
    font-family: pixel, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    user-select: none;
}


/*! Game area styles */
/* Sections style */
#game-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 891px;
    min-width: fit-content;
    background-color: black;
    z-index: var(--game-container);
}

#game-section {
    width: 80%;
    min-width: fit-content;
    max-width: 700px;
    margin: 40px auto;
    border: 5px solid var(--default-border);
    border-left: 5px solid var(--left-border);
    /* background-color: gray; */
    padding: 60px 20px 30px;
    align-items: flex-start;
}

/* Main styles */
#game-main {
    width: 80%;
    min-width: fit-content;
    height: fit-content;
    padding: 20px;
    border: 5px solid var(--default-border);
    border-left: 5px solid var(--left-border);
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Answer area styles */
#guess-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 40px;
    /* background-color: gray; */
}

#guess {
    color: white;
    width: 340px;
    min-width: 200px;
    height: 47px;
    font-family: pixel;
    background-color: transparent;
    border: none;
    outline: none;
    border: 3px solid rgb(207, 207, 207);
    border-left: 3px solid rgb(71, 71, 71);
    font-size: 0.9rem;
    box-sizing: content-box;
}

.label-container {
    position: absolute;
    width: 340px;
    top: 0;
    left: 5px;
    user-select: none;
    transition: top 0.2s ease-out, left 0.2s ease-out, font-size 0.2s;
    opacity: 0.8;
    font-size: 1.6rem;
    /* background-color: gray; */
}

#guess, #guess-label {
    cursor: text;
}

#guess:focus + .label-container,
#guess:valid + .label-container {
    top: -35px;
    left: -2px;
    font-size: 1.2rem;
}

#hint-container {
    width: fit-content;
    /* background-color: black; */
    padding: 10px 0;
    margin: auto;
     text-align: center;
}

#hint {
    margin: 0;
    width: 340px;
    height: fit-content;
    font-size: 1.2rem;
}

/* HP bar styles */
#hp-bar-container {
    position: relative;
    height: fit-content;
    width: 100%;
    max-width: 1200px;
    display: flex;
    border: 5px solid rgb(112, 112, 112);
    border-left: 5px solid rgb(55, 55, 55);
    margin-bottom: 0;
    box-sizing: border-box;
}

#hp-bar {
    width: 100%;
    height: 50px;
    background-color: greenyellow;
    transition: width 0.1s;
}

#hp-label {
    position: absolute;
    color: black;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.268);
    box-sizing: border-box;
    margin: 0;
}

/* Button styles */
#submit {
    background-color: rgb(205, 0, 233);
    border: 3px solid rgb(171, 0, 171);
    border-left: 3px solid rgb(90, 0, 90);
    font-size: 1.6rem;
}

#submit:hover {
    background-color: rgb(231, 51, 255);
}


#button-container {
    /* background-color: black; */
    padding: 0 5px;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/*! Menu area styles */
/* Sections area styles */
#selection-menu {
    position:absolute;
    /* left: 50%;
    width: 94vw;
    transform: translate(-50%); */
    min-height: 891px;
    min-width: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    flex-direction: column;
    padding: 10px;
    z-index: var(--selection-menu);
}

#difficulty-section, #highscore-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--default-border);
    border-left: 5px solid var(--left-border);
}

#highscore-section {
    height: 30vh;
    min-height: 200px;
    width: 20vw;
    min-width: fit-content;
    max-width: 400px;
    padding: 10px 20px 0px;
}

/* Menu styles */
#menu-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* Button styles */
.menu-buttons {
    height: 100px;
    width: 35vw;
    max-width: 800px;
    min-width: fit-content;
    margin: 40px 80px;
    font-size: 1.6rem;
}

#easy {
    background-color: rgb(18, 153, 0);
    border: 5px solid rgb(0, 205, 0);
    border-left: 5px solid rgba(0, 47, 0, 0.374);
}

#normal {
    background-color: rgba(255, 166, 0, 0.862);
    border: 5px solid rgb(255, 174, 0);
    border-left: 5px solid rgba(73, 46, 0, 0.511);
}

#hard {
    background-color: rgba(255, 0, 0, 0.798);
    border: 5px solid rgb(255, 0, 0);
    border-left: 5px solid rgba(73, 0, 0, 0.511);
}

#easy:hover {
    background-color: rgb(0, 176, 47);
}

#normal:hover {
    background-color: rgba(255, 166, 0, 0.952);
}

#hard:hover {
    background-color: rgba(255, 0, 0, 0.935);
}

/* Highscore styles */
#highscore-label, #highscore {
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
}

#highscore-label {
    border: 5px solid rgb(0, 81, 255);
    border-left: 5px solid rgb(0, 36, 113);
    width: 20vw;
    max-width: 225px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: yellow;
    background-color: rgba(0, 81, 255, 0.652);
}

/*! Elements styles */
/* Button styles */
button {
    color: white;
    transition: background-color 0.25s;
    cursor:pointer;
    font-family: pixel;
}

/* Sections styles */
section {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}


/* Header styles */
header {
    width: 70%;
    min-width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(0, 181, 252);
    padding: 20px 30px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 128, 255);
    border-left: 5px solid rgb(0, 0, 234);
}

#title {
    font-size: 2.5rem;
    margin: 10px 0 10px 0;
}

#sub-title {
    font-size: 1.4rem;
    margin: 0;
}